	<h1>Login</h1>
    <form ng-submit="addusers()">
	<h1>
	<pre>
	Name     :  <input type="text" ng-model="inputName">
	Password :  <input type="password" ng-model="inputPassword">
	Submit   :  <input type="submit" value="add">
   </pre>
   </h1>
    </form>
	    <ul>
      <!--li ng-repeat="user in users">{{user}}</li -->
	  <li>User Name: {{userName}}</li>
	  <li>Password : {{passwd}}</li>
    </ul>
		
		<!--
		<form>
				<div>
				<p style="display:inline">User Name</p>
				<br>
				<input type="textbox" ng-model="name">
				<p ng-hide="isValidName">Name cannot be left empty</p>
				<br ng-show="isValidName"></br>
			     </div>
			<div>
				<p style="display:inline">Password</p>
				<br>
				<input type="password" ng-model="password">
				<p ng-hide="isValidPassword">Password cannot be left empty</p>
				<br ng-show="isValidPassword"></br>
			</div>
		
		</form> -->
		
	